name: Deploy

on: 
  release: 
    types: [ published, edited]
    branches:
      - main
  push:  
    tags:
      - qa*
    branches:
      - qa
  pull_request: 
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      # Deploy to main branch
      - name: Deploy to production
        # if: github.ref == 'refs/heads/main'
        run: |
          # Add your deployment script here
          # This script will only run when a push is made to the main branch
          echo "Deploying to production..."
          
      # Deploy to dev branch
      - name: Deploy to staging
        # if: github.ref == 'refs/heads/dev'
        run: |
          # Add your deployment script here
          # This script will only run when a push is made to the dev branch
          echo "Deploying to staging..."
